.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
    gap: 1rem;
}

.card {
    transition: all .3s linear;
}

.card:not(.repo):hover {
    background-color: rgb(233, 231, 231);
}

.repo-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-brand {
    outline: none;
}